<!DOCTYPE html>
<html>
  <head>
    <title>Football Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__title">
        <%= link_to "Football blog", root_path, class: "header__title--text" %>
      </div>
      <div class="heder__right">
        <%= link_to "New Post", new_post_path, class: "header__right--btn" %>
      </div>
    </header>
    <div class="contents">
    <%= yield %>
    </div>
  </body>
</html>
